@import "tailwindcss";

/* 🎯 Tokens base */
:root {
  --background: #eee;     
  --foreground: #171717;
  --radius-lg: 20px;
}

/* 🎨 Tokens de marca + tipografía */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand: #552373;
  --color-brand-600: #3e165f;

  /* el --font-sans lo definiremos con next/font */
  --font-sans: var(--font-sans);
  --radius-ctrl: 12px;
}


* { box-sizing: border-box; }
html, body {
  height: 100%;
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
